@*@model Application.ViewModels.Order.OrderViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-7 offset-sm-3">
            <div class="card">
                <div class="card-title bg-dark fw-bold text-light">
                    <div class="text-center">@(editMode ? $"Editando la orden número {Model.Id}" : "Creando una orden")</div>
                </div>
                <div class="card-body">

                    <form asp-controller="Order" asp-action="@(editMode ? "Update" : "Create")">

                        <div class="mb-3">
                            <label asp-for="ProductId" class="form-label">Seleccione el producto</label>
                            <select class="form-select" asp-items="@(new SelectList(Model.Products,"Id","ProductName"))" asp-for="ProductId">
                                <option value="0" disabled>Seleccione una opción</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ClientId" class="form-label">Seleccione el cliente</label>
                            <select class="form-select" asp-items="@(new SelectList(Model.Clients,"Id","ClientName"))" asp-for="ClientId">
                                <option value="0" disabled>Seleccione una opción</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Cantidad</label>
                            <input asp-for="Amount" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="DeliveryDate" class="form-label">Fecha de entrega</label>
                            <input asp-for="DeliveryDate" class="form-control" />
                        </div>

                        <input type="hidden" asp-for="Id" />


                        <input type="submit" value="@(editMode ? "Editar" : "Guardar")" class="btn btn-primary"/>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>*@